# KiCad
*-backups/
*.bak
*.kicad_prl
*.kicad_pro-bak
fp-info-cache
*-cache.lib
_autosave-*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build artifacts
build/
*.o
*.elf
*.bin
*.hex
*.map
*.lck
~*
